@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Voltaire&display=swap');

body {
    background: linear-gradient(300deg,
            rgb(253, 203, 37),
            sandybrown,
            brown);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    text-align: center;
    
    
}

img {
    max-width: 560px;
}

header {
    background-color: rgba(221, 129, 81, 0.3);
    padding: 10px;
    text-align: center;
}

#festival-dates {
    margin: 5px;
}
         

nav {
    background-color: rgba(221, 129, 81, 0.3);
    padding: 10px;
    text-align: center;
}

a {
    color: brown;
}
header {
    border: 1px solid #b03b31;
}
nav {
    border: 1px solid #b03b31;
}
h1 {
    display: inline;
    font-family: 'Righteous', cursive;
    font-size: 50px;
    color: #b03b31;
    text-align: center;
   
}

h2 {
    color: #b03b31;
}

h3 {
    color: #b03b31;
}

h4 {
    color: #b03b31;
}



p {
    color: #b03b31;
    word-wrap: break-word;
    width: 560px;
    text-align: center;
    margin: auto;
}

section {
    text-align: center;
}

/* aside {
        color: #b03b31;
        width: 20%;
        max-width: 150px;
        min-width: 100px;
        float: left;
        margin-top: 30px;
      } */
article {
    text-align: center;
}

#google-maps {
    padding-bottom: 20px;
}


.footer {
    display: block;
    margin: 5px;
}




.container {
    position: relative;
    width: 560px;
    height: 336px;
    margin: 10px auto;
}

#dua-lipa {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    /* transition: all 200ms linear; */
    background-color: bisque;
}

.container:hover .overlay {
    opacity: 0.9;
}

.artist-name {

    color: #b03b31;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.artist-photo {
    max-width: 560px;
    margin: auto;
        height: 336px;
    width: 560px;
}